h1 {
    color: #704caf;
    font-size: 4em; 
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    background: linear-gradient(to right, #704caf, #b084f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 2s ease-in-out;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
